{% import 'macros.html' as macro %}
{% extends 'base.html' %}
{% block styles %}
{{ super() }}

<link rel="stylesheet" href="{{url_for('static',filename='css/article.css')}}">
{% endblock styles %}

<!-- navbar block-->
{% block navbar %}
<div class="container-fluid">
    <nav class="navbar">
        <h1>Welcome to News Highlights</h1>
    </nav>
</div>
{% endblock navbar %}

{% block content %}
<section class="bg-dark pt-5">
    <div class="container" id="content">
        <div class="row">
            {{macro.Article(article)}}
        </div>
    </div>
</section>

{% endblock content %}