{% extends 'base.html' %}

<!--styles block-->
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
{% endblock styles%}

<!--nav block-->
{% block navbar %}
<div class="container-fluid">
    <nav class="navbar">
            <h1>Welcome to News Highlights:</h1>
    </nav>
</div>
{% endblock navbar %}
<!--content block-->

{% block content %}

<div class=" container header">

{% for source in news_source %}
</div>

<div class="container body">
    <div class="col-md-12">
        
        <div class="card news">
            <!-- <div class="card-header "> -->
                 <h3>{{source.name }}</h3>
            <!-- </div> -->
            <!-- <div class="card-body"> -->
                <p class="description">{{source.description|truncate(150)}}</p>
            <!-- </div> -->
            <!-- <div class="read"> -->
                <a id="read" class="header section-link bg-primary" href="/news/{{source.id}}"> Read more</a>
            <!-- </div> -->
        </div>  
            
        </div>
    
    </div>
    
{% endfor %}
        
{% endblock content %}
